:root {
  --color-main-darker: #087f5b;
  --color-main-dark: #0ca678;
  --color-main-normal: #20c997;
  --color-main-light: #63e6be;
  --color-main-lighter: #c3fae8;

  --color-accent-darker: #d9480f;
  --color-accent-dark: #e8590c;
  --color-accent-normal: #f76707;
  --color-accent-light: #ff922b;
  --color-accent-lighter: #ffc078;

  --color-grey-darker: #343a40;
  --color-grey-dark: #495057;
  --color-grey-normal: #868e96;
  --color-grey-light: #ced4da;
  --color-grey-lighter: #e9ecef;
}

/* --color-main-darker: #107a68;
  --color-main-dark: #15a28b;
  --color-main-normal: #1bd0b2;
  --color-main-light: #69ecd6;
  --color-main-ligher: #b4f5ea; */

/* --color-accent-darker: #952929;
  --color-accent-dark: #cc4646;
  --color-accent-normal: #d15656;
  --color-accent-light: #e19393;
  --color-accent-ligher: #ebb7b7; */

/* --color-grey-darker: #1f1928;
  --color-grey-dark: #282134;
  --color-grey-normal: #3a2f4b;
  --color-grey-light: #725d94;
  --color-grey-lighter: #e0dae8; */
