* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 200;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: var(--color-grey-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* background-image: url('/img/background.png'); */
}

h1 {
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  color: var(--color-grey-darker);
}

h2 {
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  color: var(--color-grey-dark);
}

h3 {
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
}

p {
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
  line-height: var(--p-line-height);
  text-align: justify;
}

strong {
  font-weight: var(--strong-font-weight);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: var(--header-width);
  background-color: var(--color-main-normal);
  height: var(--header-height);
  padding: var(--header-padding);
  top: var(--header-top);
  z-index: var(--header-z-index);
  box-shadow: var(--section-box-shadow);
}

header h1 {
  font-size: 3.5rem;
}

nav ul {
  display: flex;
  column-gap: 3rem;
}

nav ul li a {
  color: var(--color-grey-dark);
}

header h1 {
  color: var(--color-grey-dark);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-darker);
  height: var(--footer-height);
  width: var(--footer-width);
}

footer p {
  color: var(--color-grey-lighter);
  font-weight: var(--footer-p-font-weight);
}

a {
  color: var(--color-accent-normal);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
}

section {
  padding: var(--section-padding);
  box-shadow: var(--section-box-shadow);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
}

aside {
  background-color: #fff;
}

.hr {
  height: 1rem;
  border-top: 1px solid #ddd;
  width: 98%;
  margin: 0 auto;
}

ion-icon {
  font-size: 28px;
}

.logo-linkedin {
  color: rgb(29, 56, 212);
  background-color: #fff;
  border-radius: 5px;
  font-size: 36px;
  transition: all 0.4s ease-in-out;
}

.logo-linkedin:hover {
  color: #fff;
  background-color: rgb(29, 56, 212);
}

.logo-github {
  color: var(--color-grey-dark);
  background-color: #fff;
  font-size: 36px;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.logo-github:hover {
  color: #fff;
  background-color: var(--color-grey-dark);
}

.icon-red {
  color: red;
}
