.hackerrank {
  grid-area: hackerrank;
  row-gap: var(--hackerrank-row-gap);
}

.hackerrank-badges {
  display: flex;
  flex-direction: column;
  row-gap: var(--hackerrank-badges-row-gap);
}

.badges-list ul {
  display: flex;
  justify-content: center;
  gap: var(--hackerrank-badges-list-ul-gap);
  flex-wrap: wrap;
}

.badges-list img {
  height: var(--hackerrank-badges-list-img-height);
}

.hackerrank-link {
  align-self: center;
}

.hackerrank-skills {
  display: flex;
  flex-direction: column;
  row-gap: var(--hackerrank-skills-row-gap);
}

.hackerrank-skills img {
  height: var(--hackerrank-skills-img-height);
}

.hackerrank-skills-list ul {
  display: flex;
  justify-content: flex-start;
  gap: var(--hackerrank-skills-list-ul-gap);
  flex-wrap: wrap;
}
