.info {
  position: relative;
}

.info-block {
  overflow: hidden;
  height: var(--info-block-height);
  position: -webkit-sticky;
  position: sticky;
  top: var(--info-block-top);
}

.info-image {
  top: var(--info-image-top);
  right: var(--info-image-right);
  position: absolute;
  height: var(--info-image-height);
  width: var(--info-image-width);
  background-image: url('https://res.cloudinary.com/aac-devs-data/image/upload/v1663975628/aac-website/info/home_fpw5fk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--info-image-border-radius);
  z-index: var(--info-image-z-index);
}

.info-body {
  position: absolute;
  top: var(--info-body-top);
  width: var(--info-body-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--info-body-row-gap);
}

.info-social-media {
  position: absolute;
  left: var(--info-social-media-left);
  bottom: var(--info-social-media-bottom);
  display: flex;
  flex-direction: row;
  column-gap: var(--info-social-media-column-gap);
}

.info__name,
.info__description {
  color: var(--info-name-description-color);
  text-shadow: var(--info-name-description-text-shadow);
}

.info__location {
  font-size: var(--info-location-font-size);
  font-weight: var(--info-location-font-weight);
}

.js-image {
  bottom: var(--info-js-image-bottom);
  left: var(--info-js-image-left);
  position: absolute;
  height: var(--info-js-image-height);
  aspect-ratio: var(--info-js-image-aspect-ratio);
  background-image: url('https://res.cloudinary.com/aac-devs-data/image/upload/v1663975560/aac-website/info/js_cgxlpb.png');
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: var(--info-js-image-box-shadow);
  border-radius: var(--info-js-image-border-radius);
}
