.projects {
  margin-top: var(--projects-margin-top);
  grid-area: projects;
  row-gap: var(--projects-row-gap);
}

.projects-link {
  align-self: center;
}

.project {
  display: flex;
  justify-content: flex-start;
  column-gap: var(--project-column-gap);
}

.project__image {
  height: var(--project-image-height);
  aspect-ratio: var(--project-image-aspect-ratio);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__image img {
  width: var(--project-image-img-width);
  height: var(--project-image-img-height);
}

.project-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: var(--project-body-row-gap);
  padding-right: var(--project-body-padding-right);
}

.project-links {
  align-self: flex-end;
}

.project-links a {
  margin-left: var(--project-links-a-margin-left);
}
