.projects {
  margin-top: var(--projects-margin-top);
  grid-area: projects;
  row-gap: var(--projects-row-gap);
}

.projects-link {
  align-self: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: flex-start;
  column-gap: var(--project-column-gap);
}

.project span {
  position: absolute;
  background-color: var(--color-grey-dark);
  color: var(--color-grey-lighter);
  box-shadow: var(--project-span-box-shadow);
  right: var(--project-span-right);
  top: var(--project-span-top);
  font-weight: var(--project-span-font-weight);
  font-size: var(--project-span-font-size);
  padding: var(--project-span-padding);
  border-radius: var(--project-span-border-radius);
  transform: var(--project-span-transform);
}

.project span:hover {
  cursor: not-allowed;
}

.project__image {
  height: var(--project-image-height);
  aspect-ratio: var(--project-image-aspect-ratio);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__image img {
  width: var(--project-image-img-width);
  height: var(--project-image-img-height);
}

.project-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: var(--project-body-row-gap);
  padding-right: var(--project-body-padding-right);
}

.project-links {
  align-self: flex-end;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.project-links a {
  border-radius: 5px;
  padding: 3px 4px 1px 4px;
  transition: all 0.3s ease-in-out;
  /* border: 1px solid var(--color-accent-normal); */
  color: var(--color-accent-normal);
  background-color: #fff;
}

.project-links a:hover {
  /* background-color: fuchsia; */
  /* color: var(--color-grey-lighter); */
  color: #fff;
  background-color: var(--color-accent-normal);
}

.project-body__title {
  /* background-color: lime; */
}

.project-body__description {
  /* background-color: cyan; */
}

.projects__link {
  color: var(--color-accent-light);
  transition: all 0.3s ease-in-out;
}

.projects__link:hover {
  text-decoration: underline;
  color: var(--color-accent-darker);
  /* color: var(--color-accent-dark); */
}

.project-links a {
  /* margin-left: var(--project-links-a-margin-left); */
  margin-left: 1.2rem;
}
